<!-- opening of the app -->

<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>Main</title>
      
        <link rel="stylesheet" th:href="@{/LoginDesign.css}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/showMovies}" >Movies 10</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                    <a class="nav-link" th:href="@{/welcome}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/showMovies}">Show Movies</a>
                        </li>
                    <li class="nav-item">
                    <a class="nav-link" th:href="@{/cancelPage}">Cancel Ticket</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                 
                    <a class="nav-link" th:if="${registereduser} == null" th:href="@{/loginPage}">Login</a>
                    <span class = "navbar-text" th:if="${registereduser}" th:inline="text" style="color:green">Signed in as [[${registereduser.fname}]] ([[${registereduser.email}]])</span>
                    <a class="nav-link" th:if="${registereduser}" th:href="@{/logout}">Logout</a>
  

                </ul>
            </div>
        </nav>




        <div class ="container center">
          
                <!-- add action -->
               
                    <img  src="https://www.zillowstatic.com/s3/homepage/static/interstitial_graphic.png" height="100px" width="250px">
                    <h2>MOVIES 10</h2>   
                    <a class = "btn btn-primary center" th:href="@{/showMovies}">Show All Movies</a>

                    <hr/>

                    <h5>Search for a Movie Name</h5>
                    <form class = "center" th:action="@{/showMovies}" th:object="${movie}" method = "GET">
                        <input type ="text" class="form-control col-4 mb-4 center" name="moviename" required/>
                        <button class="btn btn-primary center" type="submit">Seach For a Movie</button>
                    </form>

        </div>
    </body>
</html>